<header>
    <h1>Accelerators. <span id="logo">Visualized.</span></h1>
    <div id="map_nav">
      <button class="btn" id="comp">Company</button>
      <button class="btn" id="avg">Avg</button>
      <button class="btn" id="fnd">Funding</button>
      <button class="btn" id="ext">Exit</button>
    </div>
</header>
<div id="chart"></div>
<div id="map"></div>
<div id="map_info" class="hidden"></div>

