<header>
    <h1>Accelerators. <span id="logo">Visualized.</span></h1>
    <nav>
        <button class="btn" id="comp">Companies</button>
        <button class="btn" id="avg">Average Funding</button>
        <button class="btn" id="fnd">Total Funding</button>
        <button class="btn" id="ext">Exits</button>
    </nav>
</header>

<div class="clear"></div>

<div id="container">
    <aside>
        <div id="chart"></div>
        <div id="stats">
            <h1>Test</h1>
        </div>
    </aside>
    <div id="map"></div>
    <div id="map_info" class="hidden"></div>
</div>

<div class="clear"></div>

<footer>
    <p id="about_link">About</p>
</footer>

<div id="about"></div>
