    <header>
    <span id="logo">Accelerators. <span id="logo1">Visualized<span class="logop">.</span></span></span>
    <nav>
        <button class="btn" id="comp">Companies</button>
        <button class="btn" id="avg">Average Funding</button>
        <button class="btn" id="fnd">Total Funding</button>
        <button class="btn" id="ext">Exits</button>
    </nav>
</header>

<div id="clear"></div>

<div id="container">
    <aside id="aside">
        <div id="chart"></div>
        <div id="stats">
            <p class='stats' id="stats_title"></p>
            <p class='stats' id="stat1"></p>
            <p class='stats' id="stat2"></p>
        </div>
    </aside>
    <div id="map"></div>
    <div id="map_info" class="hidden"></div>
</div>

<div class="clear"></div>

<footer>
    <span id="about_link">About</span>
    <div id="about">
        <p>Inspired by <a href="http://www.projectkick.us">ProjectKick</a> and drawing data from <a href="http://www.seed-db.com/">Seed-DB</a>, this is a visual perspective of the top-50 U.S. seed accelerators, by average funding. Financial figures are provided via <a href="http://www.crunchbase.com/">CrunchBase</a>.</p>
        <p>Creado por <a href="http://www.chandlermoisen.com">Chandler Moisen</a></p>
    </div>
</footer>
