body {
  font-family: helvetica;
  margin: auto;
  margin-top: 0;
  width: 90%;
  background: black;
}

header {
  color: white;
}

h1 {
  text-align: center;
}

#logo {
  color: rgba(125,205,192,1);
}

.btn {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

#map_nav {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
}

#chart {
  display: inline-block;
  border: 1px solid black;
}

#chart {
  width: 25%;
}

#map {
  float: right;
  width: 74%;
  border: 1px solid black;
}

svg {
}

#map_info {
  position: absolute;
  border: 1px solid white;
  background: white;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

#map_info.hidden {
  display: none;
}


